body {
    font-family: "Montserrat", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    line-height: 1.4;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;

}

img {
    width: 100%;
}

.burger {
    display: none;
}

/* header */
.logo {
    width: 300px;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    margin-top: 25px;
}

header ul li a {
    color: #555;
    margin-left: 30px;
    font-size: 17px;
    text-transform: uppercase;
}

header .cta {
    margin-left: 30px;
}






.container {
    width: 70%;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}



.animation {
    background-image: -webkit-linear-gradient(125deg, #c30e2e, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 15s infinite linear;
    margin: 25px 0;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


.sw {
    width: 800px;
    position: sticky;
    top: 0;
    margin: auto;

}

.sw img {
    width: 75%;
    margin: auto;
    display: block;
    padding-top: 25px;

}

div.swiper-button-next,
div.swiper-button-prev {
    color: #c30e2e;
    font-weight: 700;
}

.mySwiper2 {
    margin-bottom: 50px;
}


.red {
    color: #c30e2e;

}

/* hero */
.cta {
    background-color: #c30e2e;
    padding: 10px 40px;
    margin: 25px 0;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
}


.cta-div {
    margin-top: 30px;

}

.cta-div2 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown-content,
.dropbtn {
    display: none;
}

.hero h1 {
    font-size: 40px;
}

.hero h2 {
    font-size: 30px;
}


.hero p {
    font-size: 20px;
}


.main {
    margin: 50px auto;
    margin-top: 0;
}


.stars img {
    width: 100px;
}

.stars {
    display: flex;
    margin: 15px 0;
    color: #e79aa8;
}

.center {
    text-align: center;
    margin: 15px auto;
}


/* main-div */

.main-div {
    margin: 70px auto;
}

.title {
    color: #c30e2e;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
}

.grey {
    color: rgb(66, 68, 72);
    background-color: rgb(247 247 247);
    padding: 30px;

}

.right-text {
    padding: 25px;
}

.symptoms li {
    list-style-type: disc;
    margin: 10px 0;
    margin-left: 25px;

}


/* trust */

.trust {
    color: white;
    background-color: #c30e2e;
    padding: 25px;
}

.trust h3 {
    text-align: center;
    font-size: 24px;
}

.trust-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    column-gap: 30px;
    text-align: center;
}

.trust-div img {
    width: 100px;
    margin: 20px auto;
    display: block;
}

.trust-div h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}


/* sw-red */

.sw-red {
    width: 500px;
}


.sw-red {
    background-color: #c30e2e;
    color: white;
    padding: 25px;
}

.sw-red h3 {
    text-align: center;
    font-size: 24px;
}

.sw-red img {
    width: 100px;
    margin: auto;
    display: block;
}

div.sw-red div.swiper-button-next,
div.sw-red div.swiper-button-prev {
    color: #ffffff;
    font-weight: 700;
}

.swiper-slide {
    width: 85%;
    margin: auto;
}


.swiper-slide p {
    margin: 20px auto 35px auto;
    width: 80%;
    text-align: center;
}

span.swiper-pagination-bullet-active {
    background: white;
}

.care,
.athlete {
    margin: 50px auto;
}


.trusted {
    margin: 50px auto;
}

.trusted img {
    width: 70%;
    margin: 35px auto;
    display: block;
}


/* FAQ */
.faq {
    margin: 50px auto;
}

.q {
    font-weight: 600;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin-bottom: 10px;
}

.a {
    display: none;
}

/* review */
.reviews {
    margin: 50px auto;
    color: #555;
}

.review {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-bottom: 30px
}

.review-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-stars img {
    width: 80px;
}

/* .review-text{
    width: 90%;
} */
.review-title,
.recomended {
    margin: 10px 0;
}

.name {
    margin-top: 10px;
}

.share-review {
    width: 70%;
    margin: auto;
    text-align: center;
}



.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.close,
.close2 {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
}

.popup-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 45px;
    border-radius: 5px;
    position: relative;
    width: 20%;
    font-size: 24px;
    display: block;
}

.share-review form {
    margin: 15px auto;
}

textarea {
    margin: 20px auto;
}

.submitbtn {
    border-radius: 15px;
    background-color: rgb(4, 4, 149);
    color: white;
    padding: 15px 35px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

/* banner */
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
}

.banner img {
    width: 70%;
    margin: auto;
}

.banner h2 {
    font-size: 45px;
    text-align: center;
    color: #c30e2e;
    font-weight: 500;
}

.banner h2 span {
    font-weight: 700;


    text-shadow: 0 0 3px #ffffff, 0 0 5px #c30e2e;
}

.banner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: auto;
}

.banner2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2 h2 {
    font-size: 45px;
    text-align: center;
    color: #c30e2e;
    font-weight: 800;
}

/* footer */
footer {
    background-color: #202020d5;
    color: white;
    padding: 25px;
}

.footer-div a,
.footer-div p {
    color: white;
    margin: 8px 0;
    line-height: 1.3;
}

.footer-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 25px auto;

    text-align: center;
}

.additional-links {
    display: flex;
    flex-direction: column;
}

.disclaimer {
    font-size: 12px;
    line-height: 1;
    width: 80%;
    margin: auto;
}


/* popup-order */



.popup-order {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}


.popup-order-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    width: 60%;
    font-size: 24px;
    display: block;
}


.green-line-div img {
    width: 12%;
}


.product {
    width: 10%;

}

.bottom-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.logo-order {
    width: 150px;
}

.left input {
    display: block;
    margin: 8px 0;
    height: 30px;
    outline: none;
    font-size: 14px;
    border: 1px solid #7f7f7f66;
    background-color: transparent;
    width: 75%;
    border-radius: 10px;
    padding-left: 10px;
}

select {
    width: 30%;
    margin-top: 15px;
    padding: 5px 0;
}

.cta-form {
    background-color: #c30e2e;
    padding: 10px 40px;
    margin: 25px 0;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    display: block;

}


.rights {
    margin-top: 20px;
    border-top: 1px solid #cccccc;
    padding: 10px 0;
    color: #787878;
    font-style: italic;
}


.right-div {
    background-color: rgb(233, 233, 235);
    border-left: 1px solid #cccccc;

}


.right {
    /* width: 90%;  */
    padding: 25px;

}


.cart div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}


.cart img {
    width: 120px;
    background-blend-mode: multiply;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}



@media screen and (max-width: 2000px) {
    .sw {
        width: 700px;
    }


}



@media screen and (max-width: 1600px) {
    .sw {
        width: 600px;
    }

    .container {
        width: 80%;
    }

}



@media screen and (max-width: 1400px) {
    .sw {
        width: 500px;
    }

    .container {
        width: 90%;
    }

    .popup-order-content {
        width: 75%;
    }
}


@media screen and (max-width: 1200px) {

    .logo {
        width: 240px;
    }

    header ul li a {
        font-size: 14px;
    }

    header .cta {
        margin-left: 30px;
        font-size: 14px;
        padding: 10px 25px;
    }

    .hero h1 {
        font-size: 33px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .sw {
        width: 400px;
    }

    .sw img {
        width: 80%;
    }

    p {
        line-height: 1.4;
        font-size: 14px;
    }
}


@media screen and (max-width: 994px) {
    .main {
        display: block;
    }

    .sw {
        width: 70%;
    }

    header ul li a {
        color: #555;
        margin-left: 15px;
    }

    textarea {
        width: 80%;

    }

    .banner2 h2 {
        font-size: 35px;
    }

    .footer-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
        margin: 15px auto;
        text-align: center;
    }

    .reviews {
        margin: 50px auto;
    }

    .cta-div {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }

    .logo {
        width: 200px;
    }

    header ul {
        margin-top: 17px;
    }

    .left input {
        font-size: 12px;
        width: 85%;
    }

    .content {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
    }

    .cart img {
        width: 100px;
    }

    .popup-order-content {
        width: 80%;
    }

    header ul {
        display: none;
    }


    .dropbtn {
        display: block;

    }

    .burger {
        display: block;
    }

    .material-symbols-outlined {
        font-size: 40px !important;
    }

    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: #333;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;

    }

    .dropdown-content {
        position: absolute;
        right: 0;
        padding: 25px 30px;
        margin-top: 25px;
        background-color: #f9f9f9;
        /* width: 100%; */
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 10;
        margin-top: -15px;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 10px 0;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 16px;
        text-transform: uppercase;


    }

    header {
        position: relative;

    }

    header .cta {
        padding: 12px;
        margin: 0;
    }

    .hero h1 {
        font-size: 33px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 768px) {

    .material-symbols-outlined {
        font-size: 35px !important;
    }

    .sw {
        width: 90%;
    }

    .logo {
        width: 225px;
    }

    .sw-red {
        width: 80%;
    }

    .banner img {
        display: none;
    }

    .banner {
        display: block;
    }

    .banner h2 {
        font-size: 35px;
    }

    .banner .cta-div {
        margin: 0;
    }

    .banner2 .cta-div {
        margin: 0;
    }

    .banner2 h2 {
        font-size: 26px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        --swiper-navigation-size: 18px;
    }
}




@media screen and (max-width: 500px) {

    p {
        line-height: 1.3;
        font-size: 13px;
    }

    .sw-red img {
        width: 90px;

    }

    textarea {
        width: 100%;
    }

    .footer-div {
        display: block;
    }

    .links {
        margin-bottom: 15px;
    }

    .disclaimer {
        width: 92%;
    }

    .container {
        width: 95%;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;

    }

    .names {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }

    select {
        width: 50%;
    }

    hr {
        margin: 10px 0;
    }

    .cta-form {
        background-color: #c30e2e;
        padding: 10px 40px;
        margin: 10px 0;
    }

    .cart {
        margin-bottom: 5px;
    }

    .rights {
        margin-top: 0;
        padding: 5px 0;
    }

    .green-line-div p:last-child {
        display: none;
    }

    .green-line-div img {
        width: 23%;
    }

    .popup-order-content {
        padding: 35px 20px;
    }
    .left input {
        margin: 3px 0;

    }
    .right {
        padding: 10px;
    }
}